
<!doctype html>
<html>
<head>
<meta charset="utf8"/>
<title>教练员管家</title>
<link href="index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<!--
<script type="text/javascript" src="jq.js"></script>
-->
<script type="text/javascript" src="ie_png.js"></script>
<script type="text/javascript" src="index.js.php"></script>


</head>
<body>
<center>
<div id="mainFrame">
	<div id="header">
		<div id="logo">
			<img src="./images/logo.jpg"/>
		</div>
		<div id="navi">
		<div id="naviTop">
			<a href="">教练员注册</a> | 
			<a href="">加入收藏</a> | 
			<a href="">设为首页</a>
		</div>
		<div id="naviBar">
			<a href="">首页</a>
			<span class="navisplit">&nbsp;</span>
			<a href="">训科资讯</a>
			<span class="navisplit">&nbsp;</span>
			<a href="">篮球资讯</a>
			<span class="navisplit">&nbsp;</span>
			<a href="">最新电子读物</a>
			<span class="navisplit">&nbsp;</span>
			<a href="">教练员之家</a>
			<span class="navisplit">&nbsp;</span>
			<a href="">培训中心</a>
			<span class="navisplit">&nbsp;</span>
			<a href="">最新科讯视频</a>
			<span class="navisplit">&nbsp;</span>
		</div>
		<div id="weather">
			2012年2月30日 天气：灾难
		</div>
	</div>
	<div id="banner">
		<div id="bannerSwf">
			<script language="javascript" type="text/javascript">
				flash('images/Banner_Bg.swf', '665', '260');
			</script>
		</div>
		<div id="bannerSwfMan">
			<script language="javascript" type="text/javascript">
				flash('images/Banner.swf', '300', '260');
			</script>
		</div>
		<div id="member">
			<div id="memberInfo">
			</div>
		</div>
	</div>
	
	<div id="body">
	<div id="location">
		当前位置： 
		<a href="">首页</a> &gt;&gt; 
		<a href="">教练员之家</a> &gt;&gt; 
		<a href="">教练员管家</a>
	</div>
		<div id="leftBar">
			<div class="bg">
				<div id="leftBarTop"></div>
			</div>
			<div>
				<div id="barPadding" class="bg">
				</div>
				<div id="barContent">
					<div class="bg"><table><tr>
						<td width="40"><img src="images/calendar.png"/></td>
						<td>训练计划</td>
					</tr></table></div>
					<div class="item">
						<div class="itemLabel bg" id="yearPlan" onclick="actYearPlan()">
							年计划
						</div>
					</div>
					<div class="item">
						<div class="itemLabel bg" id="monthPlan" onclick="actMonthPlan()">
							月计划
						</div>
					</div>
					<div class="item">
						<div class="itemLabel bg" id="weekPlan" onclick="actWeekPlan()">
							周计划
						</div>
					</div>
					<div class="bg"><table><tr>
						<td width="40"><img src="images/map.png"/></td>
						<td>战术图</td>
					</tr></table></div>
					<div class="bg"><table><tr>
						<td width="40"><img src="images/note.png"/></td>
						<td>日程</td>
					</tr></table></div>
					<div class="bg" onclick="actMoneyManage()"><table><tr>
						<td width="40"><img src="images/money.png"/></td>
						<td>财务管理</td>
					</tr></table></div>
					<div class="bg"><table><tr>
						<td width="40"><img src="images/traffic.png"/></td>
						<td>交通查询</td>
					</tr></table></div>
					<div class="bg"><table><tr>
						<td width="40"><img src="images/weather.png"/></td>
						<td>天气查询</td>
					</tr></table></div>
					<div class="bg">
						<img src="images/whiteman.png" id="whiteman"/>
					</div>
				</div>
			</div>
		</div>
		<div id="main">
		</div>
		<div id="loading">
		</div>
		<div id="rightBar">
			<div class="title">
				教练员提醒
			</div>
			<div class="item1">
			hehe
			</div>
			<div class="item2">
			haha
			</div>
			<div class="item1">
			haha
			</div>
			<div class="item2">
			haha
			</div>
		</div>
		<img src="images/basketball.png" style="left:0" class="basketball"/>
		<img src="images/basketball.png" style="right:0" class="basketball"/>
	</div>
	
	<div id="footer">
		<a href="">意见反馈</a> | 
		<a href="">法律声明</a> | 
		<a href="">联系我们</a> | 
		<a href="">网站导航</a> | 
		<a href="">友情链接</a><br/>
		Davesla工作室制作
	</div>
</div>
</center>
</body>
</html>